# Jwt Secret
JWT_SECRET=your_jwt_secret

# Email Config
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_email_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587

# Backblaze B2 Storage
B2_APPLICATION_KEY_ID=your_backblaze_key_id
B2_APPLICATION_KEY=your_backblaze_application_key
B2_BUCKET_ID=your_bucket_id
B2_BUCKET_NAME=your_bucket_name

# Database
DATABASE_URL="mysql://username:password@localhost:3306/dbname"
